@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #fff;
	--primary-font-color: #000;
}

html,
body {
	height: 100dvh;
	background-color: #f7f6f6;
}

@layer utilities {
	.striped li:nth-child(odd) {
		@apply border-y-2 pl-10 pr-10 pt-5 pb-5 border-gray-300 bg-gray-600 bg-opacity-10;
	}
}

.padding-base {
	padding-left: 18%;
	padding-right: 18%;
}

.text-shadow {
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.text-shadow-light {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.img {
	background-image: url('https://images2.alphacoders.com/104/thumb-1920-1042582.jpg');
}

.font-trebuchet {
	font-family: 'Trebuchet MS';
}

/* Image loading placeholder */
@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.animated-background {
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: darkgray;
	background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
}

